@charset "utf-8";
#header {
	text-align: center;
	color: #512F00;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-style: normal;
	font-size: xx-large;
	padding-top: 12px;
	padding-right: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
	-webkit-box-shadow: 0px 0px rgba(177,255,0,1.00);
	box-shadow: 0px 0px rgba(177,255,0,1.00);
	margin-right: 250px;
	margin-left: 250px;
	background-color: rgba(255,248,94,1.00);
	margin-bottom: 25px;
	border: medium ridge rgba(255,131,47,1.00);
}

#tutorial{
	float: right;
	display: inline;
	margin-right: -13px;
	margin-left: 694px;
	margin-bottom: 90px;
	margin-top: -41px;
	padding-right: 6px;
	padding-left: 6px;
	bottom: 6px;
	position: relative;
	top: -34px;
	right: 84px;
}

#allblowHeader{
	text-align: center;	
}
body {
	background-color: #5D50CD;
	background-image: url(../%E5%8F%AF%E7%94%A8%E5%9B%BE/%E6%8F%92%E5%9C%963.png);
}

.Nblock{
	display: inline;
	border: thin dashed #525252;
	padding-top: 57px;
	padding-right: 65px;
	padding-bottom: 57px;
	padding-left: 57px;
	width: 69px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	min-width: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 52px;
	border-radius: 4px;
	text-align: center;
}

.Nrow{
	margin-top: 78px;
	margin-right: 54px;
	margin-bottom: 114px;
	margin-left: 15px;
	width: auto;
	padding-top: 3px;
	text-align: center;
}

#Ncontainer{
	border-style: none;
	border-width: thin;
	float: left;
	margin-right: 22px;
	margin-bottom: 22px;
	margin-left: 6px;
	padding-top: 19px;
	padding-right: 1px;
	padding-bottom: 23px;
	padding-left: 32px;
	width: 473px;
	height: 443px;
	min-height: 0px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border-radius: 23px;
	background-color: #FFFFFF;
	text-align: center;
}

#Iframe{
	width: 545px;
	height: 493px;
	border-radius: 121px;
	border: medium double #FF0004;
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 0px;
	padding-top: 0px;
	overflow-y: auto;
	overflow-x: auto;
	-webkit-box-shadow: 8px 7px;
	box-shadow: 8px 7px;
}
#Fcontainer{
	border-style: none;
	border-width: thin;
	float: left;
	margin-right: 22px;
	margin-bottom: 22px;
	margin-left: 6px;
	padding-top: 19px;
	padding-right: 5px;
	padding-bottom: 23px;
	padding-left: 32px;
	width: 473px;
	height: 443px;
	min-height: 0px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border-radius: 23px;
	background-color: #FFFFFF;
	text-align: center;
}

.Frow{
	margin-top: 133px;
	margin-right: 47px;
	margin-bottom: 185px;
	margin-left: 15px;
	width: auto;
	padding-top: 0px;
	text-align: center;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
	
.Fblock{
	display: inline;
	border: thin dashed #525252;
	padding-top: 120px;
	padding-right: 102px;
	padding-bottom: 59px;
	padding-left: 84px;
	width: 69px;
	margin-top: 3px;
	margin-right: 3px;
	margin-bottom: 3px;
	margin-left: 3px;
	min-width: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 52px;
	border-radius: 4px;
	text-align: center;
}

#definition{
	display: inline;
	width: 253px;
	height: 345px;
	text-shadow: 20px -49px 0px;
	border-width: medium;
	border-color: rgba(252,119,177,1.00);
	border-radius: 27px;
	-webkit-box-shadow: 3px 6px;
	box-shadow: 3px 6px;
	position: relative;
	margin-left: -71px;
	margin-top: -49px;
	margin-bottom: 68px;
}

.button{
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-left: 40px;
	margin-bottom: 13px;
	margin-right: -9px;
	border-left: 2px dashed rgba(42,185,0,1.00);
	border-right: 2px solid rgba(42,185,0,1.00);
	border-bottom: 2px dashed rgba(42,185,0,1.00);
	border-top: 2px dashed rgba(42,185,0,1.00);
	background-color: rgba(255,118,118,1.00);
	-webkit-box-shadow: 4px 4px rgba(0,0,0,1.00);
	box-shadow: 4px 4px rgba(0,0,0,1.00);
	text-transform: none;
	text-decoration: none;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	
}

#DFlable{
	display: inline;
	position: relative;
	bottom: 466px;
	left: 75px;
	font-size: x-large;
	top: -429px;
	border: thick double rgba(255,131,133,1.00);
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}

#table{
	width: 905px;
	height: 158px;
}

.col-md-5{
	display: inline;
	width: 117px;
	height: 121px;
	margin-right: 1px;
	margin-left: 1px;
	border: thin dashed rgba(0,0,0,1.00);
	margin-bottom: 1px;
	margin-top: 1px;
	top: -14px;
	min-width: 0px;
	padding-top: 89px;
	padding-right: 89px;
	padding-bottom: 89px;
	padding-left: 89px;
}

.col-md-6{
	width: 119px;
	height: 104px;
	display: inline;
	border: medium solid rgba(0,0,0,1.00);
	padding-top: 47px;
	padding-right: 47px;
	padding-bottom: 47px;
	padding-left: 47px;
}
