.fixed-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 30px;
  margin-right: 15px;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1001;
  padding: 30px;
  overflow-y: auto;
}

.mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-menu a {
  display: block;
  padding: 10px 0;
  text-decoration: none;
  color: #fff;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 50px;
  cursor: pointer;
  color: #fff;
}

@media screen and (max-width: 767px) {
.full-screen-section img {
	object-fit: cover;
  width: 250%;
  height: 2000%;
}
  .nav-menu {
    display: none;
  }

  .hamburger {
    display: block;
	position: fixed;
	right: 5%;
	top: 5%;
	
  }
  .full-screen-section {
	display: flex;
	flex-direction: column;
	align-items: center;
  }

.section-text {
  top: 30%;
  left: 20%;
  
  transform: translate(-14%, -20%);
  color: white;
}

 .navigation-buttons {
	 display: block;
 margin: auto;
	bottom:15%;
  border: none;
  cursor: pointer;
   width: 130%;
  }
 .navigation-buttons button {
 margin: auto;
 margin-bottom:20px;
padding-left:40px;
padding-right:40px;
	 display: block;
  border: none;
  font-size: 1.1rem;

}
  .section-text h2{
	  font-size: 230%;
	  margin-top:40px;
	  margin-bottom:30px
  }
  .section-text h3 {
	font-size: 160%;
  }
  
.section-text2 h3 {
    font-size: 1.6rem;

}
.section-text2 h2 {
font-size: 2.3rem;
	  margin-top:25px;
	  margin-bottom:25px
}


.down-arrow {

  transform: translateX(-60%);

}
}  

@media (max-width: 480px) {
  .full-screen-section img {
  width: 400%;
}

  .section-text h2{
	  font-size: 200%;
	  margin-top:20px;
	  margin-bottom:20px
  }
  .section-text h3 {
	font-size: 140%;
  }
  
.section-text2 h3 {
    font-size: 1.5rem;

}
.section-text2 h2 {
font-size: 2.1rem;
	  margin-top:25px;
	  margin-bottom:25px;
}
}
