* {
	
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #33011a;
  color: #c8c8c8;
  line-height: 1.5;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
   transition: background-color 0.5s ease;
   padding-top: 60px;
    margin: 0;
  padding: 0;
  margin-top: calc(1rem * 2 + 1.33em);
}

body::before,
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: transparent;
  z-index: -1;
}

body::before {
  background-image: radial-gradient(rgba(255, 255, 255, 0.8) 1px, transparent 1px),
                    radial-gradient(rgba(255, 255, 255, 0.5) 1px, transparent 1px);
  background-position: 0 0, 30px 30px;
  background-size: 60px 60px;
  
}

.header-left {
  display: flex;
}

.logo {
  font-family: 'Roboto Mono', monospace;
  color: #00ffde;
  text-decoration: none;
  font-size: 23px;
  position:fixed;
  text-shadow: 0.5px 0.5px #f2f2f2;
  text-align:center;
  background-color:black;
  border-radius: 50%;
  top:0px;
}

nav {
  display: flex;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
}
.nav-menu li {
  position: relative;
  margin-right:30px;
text-align:center;

}

.nav-menu > li > a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  transition: background-color 0.3s;
}

.nav-menu li:hover > a {
  background-color: #00cca3;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: -55%;
  background-color: #00cca3;
  min-width: 200px;
  opacity: 50%;
  transition: opacity 0.3s;
  list-style: none;
}

.dropdown li {
border-bottom: none;
}

.dropdown li:last-child {
border-bottom: none;
}

.dropdown li a {
color: white;
display: block;
padding: 10px 20px;
text-decoration: none;
transition: background-color 0.3s;
}

.dropdown li:hover a {
background-color: #333;
}

.nav-menu > li:hover .dropdown {
display: block;
opacity: 1;
}

.header-right {
display: flex;
}

.language {
color: #c8c8c8;
text-decoration: none;
padding: 10px 15px;
transition: background-color 0.3s;
}

.language:hover {
background-color: #444;
}

main {
margin-top: 0px;
padding: 0px;
text-align: center;
flex-grow: 1;
}

main h2 {
font-size: 36px;
margin-bottom: 10px;
animation: fadeIn 1s;
color: #ff6f61;
margin-top: 25px;
margin-left: 20px;
margin-right: 20px;
}

main p {
font-size: 18px;
margin-bottom: 20px;
line-height: 1.6;
animation: fadeIn 1s;
color: #c8c8c8;
text-align: left;
}


footer {
  background-color: #01423a;
  padding: 20px;
  color: #c8c8c8;
  text-align: center;
  flex-shrink: 0;
}

.footer-content h3 {
font-size: 24px;
margin-bottom: 10px;
}

.footer-content p {
font-size: 14px;
}


